doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet', href='./scss/main.css')
  title myamazon
.container
  // HEADER START
  header
    .header
      // LOGO START
      .logo
        img(src='./img/myamazon logo.svg', alt='logo')
      .location
        img(src='./img/Location Icon.png', alt='img')
        p
          | Deliver to 
          br
          |                     Pakistan
      .center
        img.first(src='./img/Rectangle 107.png', alt='img')
        img(src='./img/Rectangle 106.png', alt='img')
        img.second(src='./img/Search icon.png', alt='img')
      .flag
        img(src='./img/united-states 1.png', alt='img')
      .acc
        p
          | Hello, Sign in 
          br
          |                     Account &amp; Lists
        p
          | Returns 
          br
          |                         &amp; Orders
      .cart
        img(src='./img/korzinka.png', alt='img')
        p Cart
    // LOGO END
    // NAV START
    nav
      ol
        li
          a(href='#') All
        li
          a(href='#') Today&rsquo;s Deals
        li
          a(href='#') Customer Service
        li
          a(href='#') Registry
        li
          a(href='#') Gift Cards
        li
          a(href='#') Sell
    // NAV END
  // HEADER END
  // MAIN START
  main
    section.section
      ul
        li
          h2 Gaming Accessories
          br
          img(src='./img/playstasion.png', alt='img')
          br
          br
          p
            | Lorem ipsum dolor sit amet, consectetur 
            br
            |                         adipiscing elit. Lorem ipsum dolor sit amet, ...
          br
          span $ 40.00
        li
          h2
            | Shop activity trackers and 
            br
            |                         smartwatches
          br
          img(src='./img/watch.png', alt='img')
          br
          br
          p
            | Lorem ipsum dolor sit amet, consectetur 
            br
            |                         adipiscing elit. Lorem ipsum dolor sit amet, ...
          br
          span $ 20.50
        li
          h2 Dresses
          br
          img(src='./img/dress.png', alt='img')
          br
          br
          p
            | Lorem ipsum dolor sit amet, consectetur 
            br
            |                         adipiscing elit. Lorem ipsum dolor sit amet, ...
          br
          span $ 15.00
        li
          h2 Shop school essentials
          br
          img(src='./img/book.png', alt='img')
          br
          br
          p
            | Lorem ipsum dolor sit amet, consectetur 
            br
            |                         adipiscing elit. Lorem ipsum dolor sit amet, ...
          br
          span $ 10.50
    section.section-two
      ul
        li
          h2 New arrivals in Toys
          br
          img(src='./img/toys.png', alt='img')
          br
          br
          p
            | Lorem ipsum dolor sit amet, consectetur 
            br
            |                         adipiscing elit. Lorem ipsum dolor sit amet, ...
          br
          span $ 40.50
        li
          h2 Shop backpacks
          br
          img(src='./img/supreme.png', alt='img')
          br
          br
          p
            | Lorem ipsum dolor sit amet, consectetur 
            br
            |                         adipiscing elit. Lorem ipsum dolor sit amet, ...
          br
          span $ 14.50
        li
          h2 Shop Laptops &amp; Tablets
          br
          img(src='./img/laptop.png', alt='img')
          br
          br
          p
            | Lorem ipsum dolor sit amet, consectetur 
            br
            |                         adipiscing elit. Lorem ipsum dolor sit amet, ...
          br
          span $ 185.50
        li
          h2 For your Fitness Needs
          br
          img(src='./img/sport (1).png', alt='img')
          br
          br
          p
            | Lorem ipsum dolor sit amet, consectetur 
            br
            |                         adipiscing elit. Lorem ipsum dolor sit amet, ...
          br
          span $ 12.00
    section.section-three
      h1 Top Sellers in Computers &amp; Accessories
      .images
        img(src='./img/one.png', alt='img')
        img(src='./img/two.png', alt='img')
        img(src='./img/three.png', alt='img')
        img(src='./img/four.png', alt='img')
        img(src='./img/five.png', alt='img')
        img(src='./img/six.png', alt='img')
        img(src='./img/seven.png', alt='img')
    section.section-four
      h1 International top sellers in Home
      .images
        img(src='./img/bir.png', alt='img')
        img(src='./img/ikki.png', alt='img')
        img(src='./img/uch.png', alt='img')
        img(src='./img/tort.png', alt='img')
        img(src='./img/besh.png', alt='img')
        img(src='./img/olti.png', alt='img')
        img(src='./img/yetti.png', alt='img')
    section.section-five
      ul
        li
          h2 Back to school
          br
          img(src='./img/boy.png', alt='img')
          br
          br
          p
            | Lorem ipsum dolor sit amet, consectetur 
            br
            |                         adipiscing elit. Lorem ipsum dolor sit amet,
          br
          span $ 150.00
        li
          h2 Computers &amp; Accessories
          br
          img(src='./img/lap.png', alt='img')
          br
          br
          p
            | Lorem ipsum dolor sit amet, consectetur 
            br
            |                         adipiscing elit. Lorem ipsum dolor sit amet,
          br
          span $ 30.50
        li
          h2 Health &amp; Personal Care
          br
          img(src='./img/giyoh.png', alt='img')
          br
          br
          p
            | Lorem ipsum dolor sit amet, consectetur 
            br
            |                         adipiscing elit. Lorem ipsum dolor sit amet,
          br
          span $ 15.50
        li
          h2 Get fit at home
          br
          img(src='./img/purple.png', alt='img')
          br
          br
          p
            | Lorem ipsum dolor sit amet, consectetur 
            br
            |                         adipiscing elit. Lorem ipsum dolor sit amet,
          br
          span $ 12.00
    section.section-six
      h1 Top Sellers in Baby Products for you
      .images
        img(src='./img/Rectangle 70.png', alt='img')
        img(src='./img/Rectangle 71.png', alt='img')
        img(src='./img/Rectangle 72.png', alt='img')
        img(src='./img/Rectangle 73.png', alt='img')
        img(src='./img/Rectangle 74.png', alt='img')
        img(src='./img/Rectangle 75.png', alt='img')
        img(src='./img/yetti.png', alt='img')
    br
    br
    br
    br
    br
    br
    br
    br
    section.section-six
      h1 International top sellers in Home Improvement
      .images
        img(src='./img/Rectangle 77.png', alt='img')
        img(src='./img/Rectangle 78.png', alt='img')
        img(src='./img/Rectangle 79.png', alt='img')
        img(src='./img/Rectangle 80.png', alt='img')
        img(src='./img/Rectangle 81.png', alt='img')
        img(src='./img/Rectangle 82.png', alt='img')
        img(src='./img/Rectangle 83.png', alt='img')
    section.section-five
      ul
        li
          h2
            | Shop activity trackers and 
            br
            |                 smartwatches
          br
          img(src='./img/Rectangle 52.png', alt='img')
          br
          br
          p
            | Lorem ipsum dolor sit amet, consectetur 
            br
            |                 adipiscing elit. Lorem ipsum dolor sit amet,
          br
          span $ 150.00
        li
          h2 Shop school essentials
          br
          img(src='./img/Rectangle 53.png', alt='img')
          br
          br
          p
            | Lorem ipsum dolor sit amet, consectetur 
            br
            |                 adipiscing elit. Lorem ipsum dolor sit amet,
          br
          span $ 30.50
        li
          h2 New arrivals in Toys
          br
          img(src='./img/Rectangle 54.png', alt='img')
          br
          br
          p
            | Lorem ipsum dolor sit amet, consectetur 
            br
            |                 adipiscing elit. Lorem ipsum dolor sit amet,
          br
          span $ 15.50
        li
          h2 Kindle E readers
          br
          img(src='./img/Rectangle 55.png', alt='img')
          br
          br
          p
            | Lorem ipsum dolor sit amet, consectetur 
            br
            |                 adipiscing elit. Lorem ipsum dolor sit amet,
          br
          span $ 12.00
    section.section-six
      h1 Popular products in Beauty internationally
      .images
        img(src='./img/Rectangle 84.png', alt='img')
        img(src='./img/Rectangle 85.png', alt='img')
        img(src='./img/Rectangle 86.png', alt='img')
        img(src='./img/Rectangle 87.png', alt='img')
        img(src='./img/Rectangle 88.png', alt='img')
        img(src='./img/Rectangle 89.png', alt='img')
        img(src='./img/Rectangle 90.png', alt='img')
    br
    br
    br
    br
    br
    br
    br
    br
    section.section-six
      h1 Popular products in Apparel internationally
      .images
        img(src='./img/Rectangle 91.png', alt='img')
        img(src='./img/Rectangle 92.png', alt='img')
        img(src='./img/Rectangle 93.png', alt='img')
        img(src='./img/Rectangle 94.png', alt='img')
        img(src='./img/Rectangle 95.png', alt='img')
        img(src='./img/Rectangle 96.png', alt='img')
        img(src='./img/Rectangle 97.png', alt='img')
    br
    br
    br
    br
    br
    br
    br
    br
    section.section-six
      h1 Top Sellers in Toys for you
      .images
        img(src='./img/Rectangle 98.png', alt='img')
        img(src='./img/Rectangle 99.png', alt='img')
        img(src='./img/Rectangle 100.png', alt='img')
        img(src='./img/Rectangle 101.png', alt='img')
        img(src='./img/Rectangle 102.png', alt='img')
        img(src='./img/Rectangle 103.png', alt='img')
        img(src='./img/Rectangle 104.png', alt='img')
    section
      .sign
        h3 See personalized recommendations
        button Sign In
        p
          | New customer? 
          span Start here.
  // MAIN END
  // FOOTER START
  footer
    .footernav
      h2 Back to top
    .footer
      p
        | Get to Know Us 
        br
        |                 Careers 
        br
        |                 Blog 
        br
        |                 About MyAmazon 
        br
        |                 Investor Relations 
        br
        |                 MyAmazon Devices 
        br
        |                 MyAmazon Science
      p
        | Make Money with Us  
        br
        |                 Sell products on MyAmazon 
        br
        |                 Sell on MyAmazon Business 
        br
        |                 Sell apps on MyAmazon 
        br
        |                 Become an Affiliate 
        br
        |                 Advertise Your Products 
        br
        |                 Self-Publish with Us 
        br
        |                 Host an MyAmazon Hub 
        br
        |                    See More Make Money 
        br
        |                 with Us
      p
        | MyAmazon Payment Products 
        br
        |                     MyAmazon Business Card 
        br
        |                     Shop with Points 
        br
        |                     Reload Your Balance 
        br
        |                     MyAmazon Currency Converter
      p
        | Let Us Help You 
        br
        |                         MyAmazon and COVID-19 
        br
        |                         Your Account 
        br
        |                         Your Orders 
        br
        |                         Shipping Rates &amp; Policies 
        br
        |                         Returns &amp; Replacements 
        br
        |                         Manage Your Content and 
        br
        |                         Devices 
        br
        |                         MyAmazon Assistant 
        br
        |                         Help
    .footer-two
      img(src='./img/myamazon logo.svg', alt='img')
      img(src='./img/English Footer.png', alt='img')
      img(src='./img/USD Footer.png', alt='img')
      img(src='./img/United State Footer.png', alt='img')
    hr
    .footernavbar
      ol
        li
          a(href='#') Conditions of Use
        li
          a(href='#') Privacy Notice
        li
          a(href='#') Interest-Based Ads
        li
          span &copy; 1996-2022, Amazon.com, Inc. or its affiliates
  // FOOTER END
