.sign {
    width: 1400px;
    height: 120px;
    background-color: white;
    margin-top: 50px;
    margin-left: 20px;
    padding-left: 550px;
    padding-top: 20px;
}

.sign button {
    width: 285px;
    height: 25px;
    background-color: orange;
    color: black;
    border-radius: 5px;
    border: 1px solid orange;
}

.sign  p {
    font-size: 18px;
    margin-left: 40px;
}

.sign span  {
    color: blue;
}